

.swap_hero {
    background: rgb(90,0,131);
    background-image: url('../images/star.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 10rem 0 5rem 0;
}

@media only screen and (max-width: 1367px) {
    .swap_hero {
        background-size: 100%;
        background-position: left top;
    } 
}

@media only screen and (max-width: 1023px) {
    .swap_hero {
        padding: 10rem 0 5rem 0;
    } 
}

@media only screen and (max-width: 767px) {
    .swap_hero {
        padding: 8rem 0 5rem 0;
    } 
}

.swap_hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swap_hero_detail {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.swap_hero__headline h1 {
    font-size: 4rem;
    font-weight: 600;
    max-width: 20ch;
}

@media only screen and (max-width: 1023px) {
    .swap_hero__headline h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 767px) {
    .swap_hero__headline h1 {
        font-size: 2.25rem;
    }
}

.swap_hero__headline p {
    font-size: 2rem;
    font-weight: 500;
    max-width: 35ch;
}

@media only screen and (max-width: 1023px) {
    .swap_hero__headline p {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 767px) {
    .swap_hero__headline p {
        font-size: 2.25rem;
    }
}

.swap_application__detail {
    width: 50%;
    padding: 1rem 2rem;
}

.swap_application__detail p {
     font-size: 1.5rem;
     font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .swap_application__detail  {
        width: 100%;
    }
}

.swap_about {
    background: rgb(90,0,131);
    background: linear-gradient(180deg, rgba(90,0,131,1) 0%, rgba(75,0,110,1) 100%);
    padding: 0 0 8rem 0;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 1023px) {
    .swap_about {
        padding: 0 0 5rem 0;
    } 
}

@media only screen and (max-width: 767px) {
    .swap_about {
        padding: 0 0 3rem 0;
    } 
}

.swap_about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swap__statement { 
    border-radius: 1.25rem;
    display: flex;
    gap: 1.75rem;
}

@media only screen and (max-width: 1023px) {
    .swap__statement {
        flex-direction: column;
        padding: 1.25rem;
        gap: 1.25rem;
        margin-top: 3rem;
    }
}

.swap__statement__detail {
    width: 50%;
    background: rgba(43, 1, 64, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 1.25rem;
    text-align: left;
    padding: 2.5rem;
}

@media only screen and (max-width:1023px) {
    .swap__statement__detail {
        width: 100%;
        padding: 1.5rem;
    }
}

.swap__statement__detail h3 {
    font-size: 2rem;
    font-weight: 500;
}

@media only screen and (max-width: 1023px) {
    .swap__statement__detail h3 {
        font-size: 1.75rem;
    }
}

.swap__statement__detail h4 {
    margin-top: 2rem;
    opacity: 0.6;
}

.swap__button {
    display: inline-block;
    background: #8000FF;
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.25);
    color: #FFFFFF;
    text-decoration: none;
    border: 0;
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 30px;
    transition: opacity .5s ease;
    position: relative;
    transition: all .3s ease;
}

.swap__statement__right__content {
   width: 50%;
}

@media only screen and (max-width:1023px) {
    .swap__statement__right__content {
        width: 100%;
        padding: 1.5rem;
    }
}

.swap__statement__rightside__detail {
    width: auto;
    background: rgba(43, 1, 64, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 1.25rem;
    text-align: left;
    padding: 2.5rem;
    height: auto;
}

.swap__statement__rightside__detail::view-transition {
    margin-top: 2rem !important;
}

@media only screen and (max-width:1023px) {
    .swap__statement__rightside__detail {
        width: 100%;
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .swap__statement__rightside__detail {
        width: 100%;
        padding-left: 3rem;
    }
}

.swap__statement__rightside__detail h3 {
    font-size: 2rem;
    font-weight: 500;
}

@media only screen and (max-width: 1023px) {
    .swap__statement__rightside__detail h3 {
        font-size: 1.75rem;
    }
}

.swap__statement__rightside__detail h4 {
    margin-top: 2rem;
    opacity: 0.6;
}
